[submodule "babble_demo/docker-app/simple_server/src/babble_demo/docker-app/simple_server/src/website"]
	path = babble_demo/docker-app/simple_server/src/babble_demo/docker-app/simple_server/src/website
	url = https://github.com/Exy-tek/website_php
